@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes dash {
  from {
    stroke: #FFFF4D;
    stroke-dashoffset: 0; }
  to {
    stroke: orangered;
    stroke-dashoffset: 40; } }

@keyframes dashLong {
  from {
    stroke: #FFFF4D;
    stroke-dashoffset: 0; }
  to {
    stroke: orangered;
    stroke-dashoffset: 70; } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

::-webkit-scrollbar {
  width: 7.5px;
  background-color: #7db4b0; }
  ::-webkit-scrollbar-thumb {
    background-color: #2a5855; }
  @media only screen and (max-width: 48.5em) {
    ::-webkit-scrollbar {
      display: none; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbar-width: thin; }
  @media only screen and (max-width: 48.5em) {
    *,
    *::after,
    *::before {
      scrollbar-width: none; } }

html {
  box-sizing: border-box;
  line-height: 1.6;
  font-size: 62.5%; }
  @media only screen and (max-width: 64.5em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 48.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 40.5em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 26em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 114em) {
    html {
      font-size: 100%; } }

body {
  width: calc(100vw - 7.5px); }
  @media only screen and (max-width: 48.5em) {
    body {
      width: 100vw; } }

.App {
  display: flex;
  flex-direction: column; }

.primary {
  color: #46948f; }

.secondary {
  color: #469468; }

.tertiary {
  color: #94464b; }

.b-primary {
  background-color: #46948f; }

.b-secondary {
  background-color: #469468; }

.b-tertiary {
  background-color: #94464b; }

.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  @media only screen and (max-width: 85em) {
    .header {
      flex-direction: column; } }
  @media only screen and (max-width: 40.5em) {
    .header {
      width: 100%; } }
  .header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1; }
  .header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer; }
    @media only screen and (max-width: 85em) {
      .header__logo {
        flex-direction: row; } }
    .header__logo--logo {
      width: 15rem;
      height: 15rem; }
    .header__logo--name {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Rajdhani", sans-serif;
      line-height: 1; }
      .header__logo--name h1 {
        font-size: 4.5rem;
        background-image: linear-gradient(to right, #46948f, #469468, #94464b);
        background-clip: text;
        color: transparent; }
      .header__logo--name h3 {
        font-size: 1.6rem;
        color: #2a5855; }
  .header__services {
    list-style: none;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 48.5em) {
      .header__services {
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem; } }
    .header__services--each {
      font-family: "Orbitron", sans-serif;
      font-size: 2.2rem;
      color: rgba(125, 180, 176, 0.6);
      margin-right: 2rem; }
      @media only screen and (max-width: 48.5em) {
        .header__services--each {
          padding: 1rem 0;
          line-height: .5; } }
  .header__contact {
    list-style: none;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 85em) {
      .header__contact {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap; } }
    .header__contact--each {
      font-family: "Poiret One", cursive;
      font-size: 1.6rem;
      font-weight: 700;
      margin-right: 2rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #46948f;
      transition: color .3s;
      cursor: pointer; }
      .header__contact--each:hover {
        color: #be9093; }
        .header__contact--each:hover .header__contact--each-icon {
          transform: scale(1.5);
          color: #be9093; }
      .header__contact--each-icon {
        display: block;
        color: #469468;
        font-size: 2rem;
        margin-right: 1rem;
        transition: all .3s; }

.menu {
  width: 90%;
  margin: 2rem auto;
  border-top: 1px solid rgba(190, 144, 147, 0.6);
  border-bottom: 1px solid rgba(190, 144, 147, 0.6);
  display: flex;
  justify-content: space-between;
  z-index: 99; }
  .menu__item {
    font-family: "Rajdhani", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    position: relative;
    height: 100%;
    text-decoration: none;
    color: #582a2d;
    cursor: pointer; }
    @media only screen and (max-width: 26em) {
      .menu__item {
        letter-spacing: .1rem;
        font-size: 1.8rem;
        padding: .5rem; } }
    .menu__item:hover::after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #94464b;
      transition: transform .3s;
      animation: slideDown .3s ease-out; }
    .menu__item:hover::before {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #94464b;
      transition: transform .3s;
      animation: slideUp .3s ease-out; }

.board {
  width: 100%;
  padding: 2rem 2rem 10rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
  position: relative;
  overflow: hidden;
  z-index: 9; }
  .board__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .board__background--img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.5);
      min-width: 100%;
      min-height: 100%;
      z-index: 7;
      transition: all 1s ease-out; }
    .board__background--color {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 8;
      background-color: #0e1d1c;
      transition: all 1s ease-out; }
  .board__header {
    margin: 10rem 2rem 5rem 2rem;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 5rem;
    letter-spacing: .3rem;
    z-index: 9; }
  .board__para {
    padding: 2rem 5rem;
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-size: 2.2rem;
    letter-spacing: .2rem;
    z-index: 9; }

.services {
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 48.5em) {
    .services {
      flex-direction: column; } }
  .services__section {
    opacity: 0;
    flex: 0 0 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: contrast(150%); }
    .services__section > * {
      transition: transform .5s; }
    .services__section:hover > * {
      transform: scale(1.05); }
    .services__section--icon {
      width: 8rem;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
      margin: 2rem; }
      .services__section--icon-i {
        font-size: 5rem;
        color: white; }
    .services__section--header {
      font-family: "Rajdhani", sans-serif;
      font-size: 4rem;
      font-weight: 500;
      color: white;
      text-transform: uppercase; }
    .services__section--para {
      padding: 2rem;
      font-family: "Poiret One", cursive;
      font-size: 1.8rem;
      font-weight: 500;
      color: white; }
    .services__section--btn {
      padding: .75rem 4rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: .2rem;
      line-height: 1;
      color: white;
      border: 1px solid white;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
      border-radius: 100px;
      text-decoration: none;
      margin-bottom: 2rem;
      transition: all .5s; }
      .services__section--btn:hover {
        transform: scale(1.05) translateY(-3px);
        box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2); }
  .services__web {
    background-image: linear-gradient(to right, #2a5855, #46948f);
    transition: all .3s; }
  .services__seo {
    background-image: linear-gradient(to right, #469468, #5bb281);
    transition: all .5s; }
  .services__marketing {
    background-image: linear-gradient(to right, #94464b, #be9093);
    transition: all .7s; }

.responsive {
  margin: 10rem auto;
  display: flex; }
  @media only screen and (max-width: 48.5em) {
    .responsive {
      flex-direction: column; } }
  .responsive__description {
    flex: 0 0 50%;
    padding: 2rem; }
    .responsive__description--header {
      font-family: "Rajdhani", sans-serif;
      font-size: 5rem;
      color: #2a5855;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3); }
    .responsive__description--para {
      font-family: "Poiret One", cursive;
      color: #0e1d1c;
      font-size: 2rem;
      font-weight: 700;
      padding: 2rem 0;
      margin-bottom: 5rem; }
  .responsive__devices {
    flex: 0 0 50%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 2rem; }
    .responsive__devices--img {
      display: block;
      width: 100%;
      transform: translateX(100%);
      transition: transform 1s; }

.packages {
  margin: 5rem auto 0 auto;
  background-color: #f6f9f9;
  padding: 5rem 2rem; }
  .packages__header {
    font-family: "Rajdhani", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #2a5855, #94464b);
    text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    background-clip: text;
    color: transparent;
    margin-bottom: 10rem; }
  .packages__offert {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 64.5em) {
      .packages__offert {
        flex-direction: column;
        justify-content: space-between;
        align-items: center; } }
    .packages__offert--card {
      margin: 2rem;
      width: 40rem;
      background-color: white;
      border-radius: 3px;
      display: flex;
      flex-direction: column; }
      @media only screen and (max-width: 64.5em) {
        .packages__offert--card {
          width: 50rem;
          margin: 5rem 0; } }
      .packages__offert--card-header {
        padding: 2rem;
        text-align: center;
        font-family: "Orbitron", sans-serif;
        font-size: 3rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: .3rem; }
      .packages__offert--card-price {
        text-align: center;
        font-family: "Rajdhani", sans-serif;
        font-size: 14rem;
        color: rgba(14, 29, 28, 0.8); }
        .packages__offert--card-price sup {
          font-size: 5rem;
          color: #2a5855; }
        .packages__offert--card-price sub {
          font-size: 1rem; }
      .packages__offert--card-list {
        list-style: none;
        padding: 2rem; }
        .packages__offert--card-list > li {
          font-family: "Poiret One", cursive;
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: .2rem;
          display: flex;
          align-items: center; }
      .packages__offert--card-btn {
        padding: 1rem 3rem;
        margin: 0 auto;
        text-decoration: none;
        line-height: 1;
        font-family: "Rajdhani", sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        border-radius: 5px; }
    .packages__offert--starter-header {
      background-color: #2a5855; }
    .packages__offert--starter-list li {
      padding: 1rem 0;
      border-bottom: 2px solid rgba(14, 29, 28, 0.3); }
    .packages__offert--starter-list-icon {
      margin-right: 1rem;
      color: #2a5855; }
    .packages__offert--starter-btn {
      color: #2a5855;
      border: 2px solid #2a5855;
      transition: all .3s; }
      .packages__offert--starter-btn:hover {
        color: white;
        background-color: #2a5855;
        border: 2px solid transparent; }
    .packages__offert--pro-header {
      background-color: #469468; }
    .packages__offert--pro-list li {
      padding: 1rem 0;
      border-bottom: 2px solid rgba(70, 148, 104, 0.3); }
    .packages__offert--pro-list-icon {
      margin-right: 1rem;
      color: #469468; }
    .packages__offert--pro-btn {
      color: #469468;
      border: 2px solid #469468;
      transition: all .3s; }
      .packages__offert--pro-btn:hover {
        color: white;
        background-color: #469468;
        border: 2px solid transparent; }
    .packages__offert--advanced-header {
      background-color: #94464b; }
    .packages__offert--advanced-list li {
      padding: 1rem 0;
      border-bottom: 2px solid rgba(148, 70, 75, 0.3); }
    .packages__offert--advanced-list-icon {
      margin-right: 1rem;
      color: #94464b; }
    .packages__offert--advanced-btn {
      color: #94464b;
      border: 2px solid #94464b;
      transition: all .3s; }
      .packages__offert--advanced-btn:hover {
        color: white;
        background-color: #94464b;
        border: 2px solid transparent; }

.reviews {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }
  @media only screen and (max-width: 40.5em) {
    .reviews {
      padding: 10rem 0rem 12rem 0rem; } }
  .reviews__background {
    display: none;
    position: fixed;
    top: -20%;
    left: 0;
    width: 100%;
    z-index: -1; }
    @media only screen and (max-width: 40.5em) {
      .reviews__background {
        left: -40%; } }
    @media only screen and (min-width: 114em) {
      .reviews__background img {
        width: 100%; } }
  .reviews__header {
    font-family: "Rajdhani", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    text-align: center; }
  .reviews__quotes {
    position: relative;
    width: 90%;
    height: 40rem;
    margin: 0 auto;
    z-index: 5; }
    .reviews__quotes--quote {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Rajdhani", sans-serif;
      transition: transform .5s; }
      .reviews__quotes--quote-1 {
        opacity: 1;
        transform: translateX(0); }
      .reviews__quotes--quote-2 {
        opacity: 0;
        transform: translateX(100%); }
      .reviews__quotes--quote-3 {
        opacity: 0;
        transform: translateX(100%); }
      .reviews__quotes--quote-left {
        align-self: flex-start;
        font-size: 10rem;
        line-height: 1;
        color: #6aa986; }
      .reviews__quotes--quote-right {
        align-self: flex-end;
        font-size: 10rem;
        line-height: 1;
        color: #6aa986; }
      .reviews__quotes--quote-text {
        font-size: 2.5rem;
        font-family: "Poiret One", cursive;
        font-weight: 700;
        letter-spacing: .2rem;
        padding: 0 2rem;
        color: white; }

.footer {
  background-image: linear-gradient(to right, #469468, #46948f, #94464b);
  position: relative;
  z-index: 5;
  filter: contrast(150%);
  padding: 5rem 0; }
  .footer > * {
    z-index: 7; }
  .footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    filter: contrast(150%); }
  .footer__contact {
    display: flex; }
    @media only screen and (max-width: 26em) {
      .footer__contact {
        flex-direction: column;
        align-items: center; } }
    .footer__contact--data {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      padding: 0 2rem 2rem 2rem; }
      .footer__contact--data-logo > * {
        width: 20rem;
        height: 20rem;
        margin-top: -2rem;
        filter: contrast(200%); }
      .footer__contact--data-name {
        z-index: 9;
        font-family: "Rajdhani", sans-serif;
        line-height: 1;
        font-size: 6.5rem;
        font-weight: 700;
        background-clip: text;
        color: #d4d7d0;
        text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1); }
        @media only screen and (max-width: 26em) {
          .footer__contact--data-name {
            font-size: 8rem; } }
      .footer__contact--data-subname {
        z-index: 9;
        margin-bottom: 5rem;
        font-family: "Rajdhani", sans-serif;
        font-weight: 500;
        line-height: 1;
        font-size: 2.6rem;
        color: #d4d7d0;
        text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1); }
        @media only screen and (max-width: 26em) {
          .footer__contact--data-subname {
            font-size: 4rem; } }
      .footer__contact--data-social {
        list-style: none;
        display: flex; }
        .footer__contact--data-social li {
          color: white;
          font-size: 3rem;
          margin-right: 2rem;
          transition: all .3s;
          cursor: pointer;
          z-index: 9; }
          .footer__contact--data-social li:hover {
            transform: scale(1.3);
            color: #46948f; }
          @media only screen and (max-width: 26em) {
            .footer__contact--data-social li {
              font-size: 4rem; } }
      .footer__contact--data-phone {
        margin: 2rem 0 1rem 0;
        z-index: 9;
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-family: "Poiret One", cursive;
        font-size: 2rem;
        transition: all .3s; }
        .footer__contact--data-phone:hover {
          color: #FFFF4D; }
        @media only screen and (max-width: 26em) {
          .footer__contact--data-phone {
            font-size: 2.8rem; } }
        .footer__contact--data-phone-i {
          font-size: 2.4rem;
          margin-right: 2rem;
          color: #6aa986;
          filter: contrast(150%); }
          @media only screen and (max-width: 26em) {
            .footer__contact--data-phone-i {
              font-size: 2.5rem; } }
      .footer__contact--data-email {
        margin: 0 0 1rem 0;
        z-index: 9;
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-family: "Poiret One", cursive;
        font-size: 2rem;
        transition: all .3s; }
        .footer__contact--data-email:hover {
          color: #FFFF4D; }
        @media only screen and (max-width: 26em) {
          .footer__contact--data-email {
            font-size: 2.8rem; } }
        .footer__contact--data-email-i {
          font-size: 2.4rem;
          margin-right: 2rem;
          color: #be9093;
          filter: contrast(150%); }
          @media only screen and (max-width: 26em) {
            .footer__contact--data-email-i {
              font-size: 2.5rem; } }
      .footer__contact--data-address {
        list-style: none;
        z-index: 9; }
        .footer__contact--data-address-i {
          font-size: 2.4rem;
          margin-right: 1rem;
          color: #7db4b0;
          filter: contrast(150%); }
          @media only screen and (max-width: 26em) {
            .footer__contact--data-address-i {
              font-size: 2.5rem; } }
        .footer__contact--data-address li {
          font-family: "Poiret One", cursive;
          font-size: 2rem;
          color: white; }
          @media only screen and (max-width: 26em) {
            .footer__contact--data-address li {
              font-size: 2.5rem; } }
        .footer__contact--data-address > *:not(:first-child) {
          margin-left: 4rem; }
    .footer__contact--form {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      flex-direction: column; }
      @media only screen and (max-width: 26em) {
        .footer__contact--form {
          margin-top: 5rem;
          width: 90%; } }
      .footer__contact--form-header {
        z-index: 9;
        font-family: "Orbitron", sans-serif;
        font-size: 4rem;
        font-weight: 300;
        text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
        color: white; }
      .footer__contact--form input, .footer__contact--form textarea {
        border: none;
        margin: 2rem auto;
        padding: 1rem;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        z-index: 10;
        color: white; }
        .footer__contact--form input::placeholder, .footer__contact--form textarea::placeholder {
          color: white;
          font-family: "Poiret One", cursive;
          letter-spacing: .2rem;
          font-size: 1.6rem; }
        .footer__contact--form input:focus, .footer__contact--form textarea:focus {
          outline: none;
          box-shadow: 0 0 1rem rgba(106, 169, 134, 0.6); }
      .footer__contact--form textarea {
        height: 15rem; }
      .footer__contact--form button {
        border: none;
        width: 50%;
        margin: 2rem auto;
        padding: 1rem 2rem;
        background-color: #94464b;
        color: white;
        font-family: "Poiret One", cursive;
        font-size: 2rem;
        letter-spacing: .2rem;
        filter: contrast(110%);
        border-radius: 5px;
        z-index: 10;
        cursor: pointer;
        transition: all .3s; }
        .footer__contact--form button:hover {
          transform: scale(1.1); }
        .footer__contact--form button:focus {
          outline: none; }

.confirmation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 199; }

.about {
  overflow: hidden; }
  .about__mission {
    display: flex;
    flex-direction: column;
    background-color: #0e1d1c;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 10rem 2rem;
    animation: slideLeft .6s ease-out; }
    @media only screen and (max-width: 64.5em) {
      .about__mission {
        flex-direction: column; }
        .about__mission::after {
          transform: scale(1.2); } }
    @media only screen and (max-width: 48.5em) {
      .about__mission::after {
        top: 0%;
        right: -50%; } }
    @media only screen and (max-width: 40.5em) {
      .about__mission::after {
        top: 0%; } }
    .about__mission::after {
      content: "";
      position: absolute;
      top: -50%;
      right: -50%;
      width: 100vw;
      height: 100vw;
      border-radius: 50%;
      background-color: #be9093;
      z-index: -11; }
    .about__mission--header {
      font-family: "Orbitron", sans-serif;
      font-size: 5rem;
      letter-spacing: .3rem;
      color: white;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      margin-top: 0rem; }
    .about__mission--para {
      font-family: "Rajdhani", sans-serif;
      font-size: 2.5rem;
      color: white;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3); }
  .about__quote {
    width: 100%;
    padding: 15rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Rajdhani", sans-serif;
    transition: transform .5s; }
    .about__quote--left {
      align-self: flex-start;
      font-size: 5rem;
      line-height: 1;
      color: #6aa986; }
      @media only screen and (max-width: 40.5em) {
        .about__quote--left {
          font-size: 3.5rem; } }
    .about__quote--right {
      align-self: flex-end;
      font-size: 5rem;
      line-height: 1;
      color: #6aa986; }
      @media only screen and (max-width: 40.5em) {
        .about__quote--right {
          font-size: 3.5rem; } }
    .about__quote h1 {
      font-size: 3.5rem;
      font-family: "Poiret One", cursive;
      font-weight: 700;
      letter-spacing: .2rem;
      padding: 0 2rem;
      color: #2a5855;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3); }
      @media only screen and (max-width: 40.5em) {
        .about__quote h1 {
          font-size: 2.8rem; } }
  .about__services {
    position: static;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-row-gap: 5rem;
    margin-bottom: 15rem; }
    @media only screen and (max-width: 40.5em) {
      .about__services {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem; } }
    .about__services--para {
      font-family: "Rajdhani", sans-serif;
      font-size: 2.5rem;
      color: #2a5855;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      padding: 2rem; }
    .about__services--list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      margin: 0 auto;
      transition: all .5s; }
      @media only screen and (max-width: 40.5em) {
        .about__services--list-1 {
          grid-row: 2/3; } }
      @media only screen and (max-width: 40.5em) {
        .about__services--list-2 {
          grid-row: 4/5; } }
      @media only screen and (max-width: 40.5em) {
        .about__services--list-3 {
          grid-row: 6/7; } }
      .about__services--list-item {
        width: 100%;
        font-family: "Rajdhani", sans-serif;
        font-size: 2.5rem;
        background-color: #2a5855;
        padding: .5rem 1rem;
        margin: 3rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
        color: white;
        position: relative; }
        .about__services--list-item-1 > * {
          color: #6aa986; }
        .about__services--list-item-2 > * {
          color: #be9093; }
        .about__services--list-item-3 > * {
          color: #7db4b0; }
        .about__services--list-item-i {
          position: absolute;
          top: -.5rem;
          left: -4rem;
          font-size: 6rem;
          margin-right: 1rem;
          z-index: -1;
          filter: contrast(200%) drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3)); }

.offert__introduction {
  background-color: #0e1d1c;
  padding: 5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .offert__introduction h1 {
    flex: 0 0 70%;
    margin: 0 auto;
    font-family: "Rajdhani", sans-serif;
    font-size: 3.5rem;
    text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    color: white; }
  .offert__introduction--rocket {
    width: 12rem;
    height: 12rem;
    fill: #ff6a33;
    margin: 0 auto; }
    .offert__introduction--rocket #upper {
      stroke-dasharray: 50;
      stroke-dashoffset: 10;
      animation: dash 1s linear alternate infinite; }
    .offert__introduction--rocket #middle {
      stroke-dasharray: 80;
      stroke-dashoffset: 80;
      animation: dashLong 1s linear alternate infinite;
      animation-delay: .6s;
      transition: all 0.3s; }
    .offert__introduction--rocket #down {
      stroke-dasharray: 50;
      stroke-dashoffset: 10;
      animation: dash 1s linear alternate infinite;
      animation-delay: .3s;
      transition: all 0.3s; }

.offert__short {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 2rem 5rem 2rem; }
  .offert__short--para {
    font-family: "Rajdhani", sans-serif;
    font-size: 2.8rem;
    text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    text-transform: uppercase; }

.offert__section {
  padding: 10rem 2rem; }
  .offert__section h1 {
    margin-bottom: 5rem;
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: 5px; }
  .offert__section--para {
    position: relative; }
    .offert__section--para-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba(255, 69, 0, 0.3);
      width: 100%;
      font-size: 20rem;
      z-index: -1; }
    .offert__section--para-text {
      margin: 2rem auto;
      font-family: "Poiret One", cursive;
      font-size: 2.2rem;
      font-weight: 700;
      text-align: center;
      letter-spacing: .2rem;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3); }
      .offert__section--para-text span {
        background-color: #2a5855;
        padding: .3rem 1rem;
        color: white;
        line-height: 1;
        font-weight: 300;
        border-radius: 3px;
        transform: scale(1.2); }
  .offert__section--price {
    width: 50%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .offert__section--price-left {
      align-self: flex-start; }
    .offert__section--price-right {
      align-self: flex-end; }
    .offert__section--price p {
      font-family: "Poiret One", cursive;
      font-size: 2rem;
      color: #2a5855;
      font-weight: 700; }
    .offert__section--price h3 {
      font-family: "Orbitron", sans-serif;
      font-size: 10rem;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3); }
      .offert__section--price h3 sup {
        font-size: 50%; }
  .offert__section--description {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-gap: 2rem;
    grid-row-gap: 5rem;
    font-family: "Poiret One", cursive;
    font-size: 2rem;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 40.5em) {
      .offert__section--description {
        grid-template-columns: 45% 1fr; } }
    .offert__section--description > * {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .offert__section--description h3 {
      grid-column: 1/3;
      font-family: "Poiret One", cursive;
      font-size: 4.5rem; }
    .offert__section--description-left {
      grid-column: 1/2;
      color: white;
      border-radius: 5px;
      font-weight: 700;
      height: 6rem;
      margin: auto 0; }
      @media only screen and (max-width: 40.5em) {
        .offert__section--description-left {
          margin: 0; } }
      @media only screen and (max-width: 26em) {
        .offert__section--description-left {
          height: 8rem;
          text-align: center; } }
    .offert__section--description-right {
      grid-column: 2/3;
      color: #0e1d1c;
      font-weight: 700;
      font-size: 1.8rem; }

.offert__starter h1 {
  background-color: #2a5855; }

.offert__pro h1 {
  background-color: #469468; }

.offert__pro--para-icon {
  transform: translate(-50%, -50%) rotate(-45deg);
  color: rgba(70, 148, 104, 0.4); }

.offert__advanced h1 {
  background-color: #94464b; }

.offert__advanced--para-icon {
  transform: translate(-50%, -50%) rotate(-45deg);
  color: rgba(148, 70, 75, 0.4); }

.login {
  margin-top: 0rem;
  width: 100%;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .login__header {
    font-family: "Rajdhani", sans-serif;
    font-size: 3rem;
    letter-spacing: .2rem;
    padding: 0 2rem; }
  .login__form {
    margin: 2.5rem auto;
    width: 90%;
    background-color: #0e1d1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 3px; }
    @media only screen and (max-width: 40.5em) {
      .login__form {
        width: 100%;
        border-radius: 0px; } }
    .login__form--field {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin: 1rem auto; }
      @media only screen and (max-width: 40.5em) {
        .login__form--field {
          width: 80%; } }
      .login__form--field label {
        font-family: "Rajdhani", sans-serif;
        font-size: 2.5rem;
        color: white; }
      .login__form--field input {
        border: none;
        padding: 1rem 0;
        font-size: 2rem;
        text-align: center;
        font-family: "Poiret One", cursive;
        font-weight: 900;
        border-radius: 10px; }
        .login__form--field input:focus {
          outline: none;
          box-shadow: 0 0 1rem #be9093; }
    .login__form button {
      margin: 2rem auto;
      border: none;
      border-radius: 5px;
      background-color: #582a2d;
      padding: 1rem 5rem;
      color: white;
      font-family: "Rajdhani", sans-serif;
      font-size: 2rem;
      letter-spacing: .2rem;
      cursor: pointer;
      transition: all .3s; }
      .login__form button:hover {
        background-color: #94464b; }

.manager {
  position: relative; }
  .manager__section {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    width: 90%; }
    .manager__section h1 {
      font-family: "Orbitron", sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 3rem;
      text-align: center; }
    .manager__section--artikel {
      margin: 5rem auto 0 auto;
      width: 100%;
      padding: 2rem; }
      .manager__section--artikel h3 {
        font-family: "Rajdhani", sans-serif;
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase; }
      .manager__section--artikel p {
        font-family: "Rajdhani", sans-serif;
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: .2rem; }
      .manager__section--artikel textarea {
        width: 100%;
        padding: 1rem 2rem;
        text-align: center;
        font-family: "Rajdhani", sans-serif;
        font-size: 2.5rem;
        border: none;
        background-color: #f6f9f9;
        border-radius: 3px; }
        .manager__section--artikel textarea:focus {
          outline: none;
          box-shadow: 0 0 1rem #94464b; }
  .manager__scrollbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 3rem;
    background-color: #be9093;
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap; }
    .manager__scrollbar--section {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all .3s;
      font-size: 2rem;
      font-family: "Rajdhani", sans-serif;
      border: 1px solid transparent; }
      .manager__scrollbar--section:hover {
        transform: scale(1.05); }
  .manager__button {
    display: block;
    width: 25%;
    padding: 2rem 0;
    text-align: center;
    margin: 5rem auto;
    border: none;
    border-radius: 3px;
    background-color: #2a5855;
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: all .3s;
    cursor: pointer;
    font-family: "Rajdhani", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem; }
    .manager__button:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
  .manager__logout {
    position: fixed;
    top: 6.5rem;
    right: -1rem;
    padding: 0;
    height: 10rem;
    border-radius: 5px;
    background-color: #94464b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s; }
    .manager__logout:hover {
      right: 0; }
    .manager__logout--icon {
      font-size: 2rem;
      transform: rotate(-90deg) translateX(2rem); }
    .manager__logout--text {
      font-family: "Rajdhani", sans-serif;
      font-size: 1.6rem;
      display: block;
      transform: rotate(-90deg); }

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  animation: slideLeft .3s ease-out;
  z-index: 99; }
  .alert__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #582a2d;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s; }
    .alert__close:hover {
      background-color: #94464b; }
    .alert__close--icon {
      font-size: 3rem;
      color: white; }
  .alert__message {
    background-color: white;
    padding: 5rem 2rem;
    border-radius: 3px; }
    .alert__message--text {
      font-family: "Rajdhani", sans-serif;
      font-size: 2.5rem;
      text-align: center; }
    .alert__message--buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 5rem; }
      .alert__message--buttons > *, .alert__message--buttons-complete {
        display: block;
        padding: 1rem 5rem;
        color: white;
        font-family: "Courier New", sans-serif;
        font-size: 2rem;
        cursor: pointer;
        transition: all .3s;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        margin: 0 auto; }
        .alert__message--buttons > *:hover, .alert__message--buttons-complete:hover {
          transform: translateY(-3px);
          box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1); }
      .alert__message--buttons-yes {
        background-color: #469468; }
      .alert__message--buttons-no {
        background-color: #94464b; }
      .alert__message--buttons-complete {
        background-color: #469468;
        margin-top: 5rem; }
    .alert__message--icon {
      margin: 2rem auto;
      color: black;
      font-size: 3rem;
      font-weight: 300;
      display: block;
      animation: rotate 1s  ease-in infinite;
      color: #46948f; }
