.primary{
	color:$color-primary;
}
.secondary{
	color:$color-secondary;
}
.tertiary{
	color:$color-tertiary;
}
.b-primary{
	background-color:$color-primary;
}
.b-secondary{
	background-color:$color-secondary;
}
.b-tertiary{
	background-color:$color-tertiary;
}